<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * This file is part of Hackathon_Metrics for Magento.
 *
 * @license OSL v3
 * @author Jacques Bodin-Hullin <j.bodinhullin@monsieurbiz.com> <@jacquesbh>
 * @category Hackathon
 * @package Hackathon_Metrics
 * @copyright Copyright (c) 2014 Magento Hackathon (http://mage-hackathon.de)
 */
-->
<config>
    <modules>
        <Hackathon_Metrics>
            <version>0.1.0</version>
        </Hackathon_Metrics>
    </modules>
    <global>
        <helpers>
            <hackathon_metrics>
                <class>Hackathon_Metrics_Helper</class>
            </hackathon_metrics>
        </helpers>
        <models>
            <hackathon_metrics>
                <class>Hackathon_Metrics_Model</class>
            </hackathon_metrics>
        </models>

        <metrics>
            <channels>
                <datadog_socket>
                    <model>hackathon_metrics/channel_datadog_socket</model>
                </datadog_socket>
            </channels>
        </metrics>
    </global>

    <frontend>

        <events>

            <!-- SALES ORDER EVENTS -->
            <sales_order_place_after>
                <observers>
                    <hackathon_metrics_sales_order_place_after>
                        <class>hackathon_metrics/observer_sales</class>
                        <method>salesOrderPlaceAfter</method>
                    </hackathon_metrics_sales_order_place_after>
                </observers>
            </sales_order_place_after>

            <!-- CUSTOMER EVENTS -->
            <customer_customer_authenticated>
                <observers>
                    <hackathon_metrics_customer_customer_authenticated>
                        <class>hackathon_metrics/observer_customer</class>
                        <method>customerCustomerAuthenticated</method>
                    </hackathon_metrics_customer_customer_authenticated>
                </observers>
            </customer_customer_authenticated>

            <!-- PRODUCT EVENTS -->
            <catalog_controller_product_view>
                <observers>
                    <hackathon_metrics_catalog_controller_product_view>
                        <class>hackathon_metrics/observer_catalog</class>
                        <method>catalogControllerProductView</method>
                    </hackathon_metrics_catalog_controller_product_view>
                </observers>
            </catalog_controller_product_view>

            <sendfriend_product>
                <observers>
                    <hackathon_metrics_sendfriend_product>
                        <class>hackathon_metrics/observer_catalog</class>
                        <method>sendfriendProduct</method>
                    </hackathon_metrics_sendfriend_product>
                </observers>
            </sendfriend_product>

        </events>

    </frontend>
</config>